{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>NEW - The Division LEAGUE !</h3>

  <p><i>starts the 4th of October</i></p>

  <ul>

    <li>Single tennis matches.</li>
    <li>Divisions of 6 players with similar levels. </li>
    <li>Every player meets the other 5 of his/her division. </li>
    <li>You have 6 weeks to play your 5 matches. </li>
    <li>You plan them the way you want, by contacting your opponents. </li>
    <li>No registration fee, but you pay your booking courts and balls as usual when you book a spot in ATL.</li>
    <li>A match is a one-hour match (details will come soon).</li>
    <li>At the end of the 6 weeks, top 2 players of each div go to upper division. Bottom 2 go down.</li>
    <li>Even if you're away one or 2 weeks, it's fine, as long as you make sure to play your 5 matches within the 6 weeks ;-)</li>
    <li>Open to everyone, juniors and seniors, beginners and rising stars !</li>
  </ul>

  <p><b>The first round starts week 40, and ends week 46. </b></p>
  <p>Please register by sending an email to : mathieu.blanchet@gmail.com, or drop me message on Signal/Whatsapp</p>



{% endblock %}

