{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>Tennis calendar and events</h3>

  <p>You will find here all the infos and links needed to join one of our events for the season 2021</p>

  <h3>Friday evening sessions</h3>
  
  <p>You can join any time one of our friday session. One or two hours, between 19 and 21, (almost) every friday, in VictoriaStadion.<br>
  <b>To register</b>, please use the following poll (updated every week !) <a href="https://framadate.org/KeglzNKZEhGihmTa" target="_blank">POLL</a>. <br>
  You can as well join the didcated whatsapp group bby contacting Mathieu or Maxim.</p>

  <h3>Sunday evening sessions</h3>

  <p>You can join any time one of our sunday session. Every sunday kl21-22, in VictoriaStadion. To register, you have to be an ATL member and login on the <a href="http://atllund.se/rackethall/logga-in/" target="_blank">mycourt system</a>. Then select "Tennis inomhus" and the timeslot 21-22 "Stegen activity".<br>
  During this session, you'll have the opportunity to play <b>2 short matches of 25 minutes each</b> against players with a level close to yours. A good way to meet new players and potential future tennis partners.<br>
  Please to try to join as well the whatsapp groups where everything is orrganised (match schedule, waiitng list, ...).<br>
  <b>Bonus</b>: <a href="{{ path('sunday_contest') }}">the Sunday 21-22 contest</a></p>


  <h3>The LEAGUE !</h3>

  <p>A new format that started in September 2021. Players are distributed in divisions of 6 players, according to their levels. During one round, each player is supposed to meet all the other players of his division. A round can last approximately 8 to 10 weeks. Players self-organize their matches, by booking 1-hour spots. At the end of the round, the top2 players of each division move up, the bottom 2 go down.<br>
  New players can enter/quit the League when a new round starts.<br>
  Please find <a href="{{ path('division_league') }}">more details here</a>.
  </p>


  <h3>Tournaments</h3>
  <p>Several tournaments can be organized during a season. Depending on the courts availability and the covid restrictions...<br>
  The main one takes place every summer (may to september). Long draw, self-organized matches, several rounds. All details here : <a href="{{ path('summer_longformat_tournament') }}">Summer tournament</a></p>
  We used to haev as well the "Slutspel", played during one afternoon in April. All details here :  <a href="{{ path('race_slutspel') }}">Race to Lund 2021 Slutspel !</a><br>



{% endblock %}

