{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>The Generation Matchups 2025 !</h3>

  <p><i>Last update, 2025-11-29 19:59</i></p>

  <p style="text-align:center;" id="draw"><img style="height:600px" src="{{ asset('img/2025_GMU_2025-11-29.png') }}"></p>
  <p style="text-align:center;" id="draw"><img style="height:600px" src="{{ asset('img/2025_GMU_2025-09-19.png') }}"></p>


{% endblock %}

