{% extends "common/layout.html.twig" %}


{% block body %}

  {% if arrRS|length > 0 %}
  <script type="text/javascript">

    $( document ).ready(function() {
      console.log("ready");
      $('#graph').highcharts({
        title: {
            text: 'Rankings evolution',
            x: -20 //center
        },
        xAxis: {
            categories: [
              {% for date, score in arrRS %}
                "{{ date }}",
              {% endfor %}
            ],
            labels: {
              rotation: -90,
              overflow: "false"
            }
        },
        yAxis: {
          reversed: false,
          min: 600, 
            title: {
                text: 'points'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        
        tooltip: {
        },
        series: [{ 
          name:"Tennis", 
          data: [
            {% for date, score in arrRS %}
              {{ score|number_format(1, '.', '') }},
            {% endfor %}
          ]
          },{ 
          name:"Padel", 
          data: [
            {% for date, score in arrRSPaddle %}
              {{ score|number_format(1, '.', '') }},
            {% endfor %}
          ]
          }
        ]
      });
    });
    
  </script>
  {% endif %}

  {% include "site/player_header.html.twig" %}
  
  <div id="graph" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
	
{% endblock %}

