{% form_theme form 'bootstrap/bootstrap_4_layout.html.twig' %}

  {% extends "common/layout.html.twig" %}

  {% block body %}

    <h3>{{ form_title }}</h3>

    <p><i>If you don't receive any email from {{ email_admin }}, please double check your spam folder, or add this email address to your contact book!</i></p>

    <div class="form">
      {{ form(form) }}
    </div>

  {% endblock %}
