{% extends "common/layout.html.twig" %}

{% block body %}

  <h3>Race to Lund 2019-04-27 Slutspel !</h3>

  <p><i>Information about the tournament can be found <a href="http://atllund.se/aktuellt/slutspel-i-stegen/" target="_blank">here</a></i></p>


  <table class="table">
    <tr>
      <th>#</th>
      <th>Player</th>
      <th>Nb</th>
    </tr>
    {% for i,data in arrRace %}
      <tr>
         <td>{{ i+1 }}</td>
        <td><a href="{{ path('player_view', {'id': data["idP"]}) }}">{{ arrRaceData[data["idP"]]["name"] }}</a></td>
        <td>{{ data["totNbM"] }}</td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}

