{% extends "common/layout.html.twig" %}

{% block body %}

  <h1>The summer tournaments 2023 !</h3>


  <h3>Last update, 2023-05-22 11:00</h3>


  <p style="text-align:center;" id="draw"><img style="width:900px" src="{{ asset('img/2023_summer_tournaments.png') }}"></p>


{% endblock %}

