.pager-active{
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
	padding: 5px;
}

.winner-player{
	background-color: #FFFFE0;
}

.inactive-player{
	background-color: silver;

}

th, td{
	text-align:center;
}

.sold-positiv{
	background-color:#98FB98;
}
.sold-negativ{
	background-color:#DC143C;
}

footer {
	padding:15px;
	background-color: #eee;
}