<center><i><a href="https://github.com/mathial/ATLstegen">Website developped</a> with Symfony 4. Licence <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">CC-BY-NC-ND</a>. ATL's website => <a href="http://atllund.se/seriespel-tavling/stegen/" target="_blank">atllund.se - Stegen</a></i></center>
