{% extends "common/layout.html.twig" %}

{% block body %}
  <h1>Welcome to the ATL Internal Tour !</h1>


  <h3>Overview</h3>
  
  <p>"Stegen" is an unofficial competition we have created in ATL. To help people finding partners and playing matches !</p>
  <p>Any kind of players are welcome : juniors and seniors, men and women, super skilled players and beginners.</p>
  <p>We are organizing several events (regular weekly sessions, annual tournaments, league, etc.) and a ranking system for those who crave for competition ;-)</p>

  <p>The "Tour" is much more active in tennis than in padel, because of the facilities available : 8 tennis indoor courts at VictoriaStadion, 5 tennis outdoor courts at Smörlyckan. "Only" 1 indoor padel court in VictoriaStadion, and 2 outdoor courts at Smörlyckan.</p>

  <p>All the matches played through "Stegen" are integrated in our database. You will start playing with an initial rating (based on your level when you start) and it will evolve week after week, depending on your results against other "Stegen" players. We generate the new rankings/ratings every monday.<p>

  <p>This system is willing to be super flexible. You play when you can, when you want. And several different events are available, with different formats. To help anyone to find something that could suit him or her. Some players are playing matches several times a week, by attending all the events and/or playing "stegen matches", others are playing every other month or even more rarely.</p>

  <p>You can find <a href="{{ path('tennis_index') }}">here a page that describes our different tennis events</a>.</p>

  <p><img src="{{ asset('img/recap_stegen_galaxy.png') }}" width="100%"></p>

{% endblock %}