{% extends "common/layout.html.twig" %}

{% block body %}

  <p><em>Öppen för både herrar, damer, seniorer och juniorer</em></p>

	<ul>
	 	<li>=&gt; Varje spelare har sin <strong>egen personliga ranking</strong> (baserat på <a href="https://en.wikipedia.org/wiki/Elo_rating_system" target="_blank" rel="noopener">Elo-ratingsystem</a>)</li>
	 	<li>=&gt; Du kan <strong>utmana vilken spelare som helst</strong> som deltar i tennisstegen</li>
	 	<li>=&gt; Ni väljer själva vilken tid ni vill spela på och <strong>vilka regler</strong> som ska gälla för matchen</li>
	 	<li>=&gt; Efter färdigspelad match <strong>rapporterar ni resultatet</strong> och spelarna får varsin ny rankingpoäng</li>
	</ul>

	&nbsp;
	<p style="text-align: left;"><span style="font-size: large;"><strong>JAG VILL VARA MED!</strong></span></p>
	<p align="JUSTIFY">Skicka ett meddelande till <span style="color: #0000ff;"><span style="text-decoration: underline;"><a href="mailto:mathieu.blanchet@gmail.com"><span style="color: #000000;">mathieu.blanchet@gmail.com</span></a></span></span> med följande information:</p>

	<ul>
	 	<li>=&gt; Ditt namn och <strong>telefonnummer</strong></li>
	 	<li>=&gt; När du vanligtvis är <strong>tillgänglig för spel</strong> (t.ex. morgon, lunch, kvällstid eller helger)</li>
	 	<li>=&gt; Din <strong>ålder</strong></li>
	 	<li>=&gt; En uppskattning av din <strong>spelnivå</strong> för att kunna få en initial ranking, t.ex. genom att jämföra med en befintlig spelare i stegen.</li>
	</ul>
	&nbsp;
	<p style="text-align: left;" align="CENTER"><span style="font-size: large;"><strong>RAPPORTERA MATCHRESULTAT</strong></span></p>
	<p align="JUSTIFY">Skicka ett meddelande till <span style="color: #0000ff;"><span style="text-decoration: underline;"><a href="mailto:mathieu.blanchet@gmail.com"><span style="color: #000000;">mathieu.blanchet@gmail.com</span></a></span></span> med:</p>

	<ul>
	 	<li>=&gt; <strong>Namnen på spelarna</strong>. Om det är första matchen för någon av er, anmäl er först enl. rutan ”Jag vill vara med!”</li>
	 	<li>=&gt; Vilken <strong>typ av match</strong>, t.ex. motionsspel, A-serie, turnering, etc.</li>
	 	<li>=&gt; <strong>Speldatum</strong></li>
	 	<li>=&gt; <strong>Resultatet</strong> inklusive tie-breaks</li>
	</ul>
	&nbsp;
	<p style="text-align: left;" align="CENTER"><span style="font-size: large;"><strong>Förslag på regler för matcher under 60 min </strong></span></p>

	<ul>
	 	<li>=&gt; Boka <strong>en timme</strong> på ATL eller Smörlyckan.</li>
	 	<li>=&gt; Använd <strong>max 10 minuter till uppvärmning</strong>.</li>
	 	<li>=&gt; Matchen spelas som <strong>bäst av tre set</strong>. Vi spelar korta set, d.v.s. först till 4 game med <strong>no-ad</strong> (avgörande boll vid 40-40). Vid ställningen 3-3 spelas ett tiebreak som <em><strong>först till 5 poäng</strong></em> (dvs räcker att vinna med en boll).</li>
	 	<li>=&gt; Vid 1-1 i set spelas ett <strong>avgörande matchtiebreak</strong>. Längden av matchtiebreaket avgörs av tiden som är kvar att spela. Maximal längd är <em>först till 10 poäng</em>. Är det kortare tid än 10 minuter kvar kommer ni gemensamt överens om hur långt matchtiebreaket ska vara.</li>
	 	<li>=&gt; Uppgiven match räknas som förlust.</li>
	 	<li>=&gt; Inget sidbyte vid spel inomhus. Spel utomhus: sidbyte vartannat game och i tiebreak sker sidbyte när man spelat en boll mindre än den poäng man går till d.v.s. om tie-breaket är till 5 poäng, är det sidbyte var fjärde poäng.</li>
	</ul>
	&nbsp;

{% endblock %}

